[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
crc-bonfire = "*"
pre-commit = "*"

[packages]
awswrangler = "*"
app-common-python = "*"
django-environ = "*"

[requires]
python_version = "3.8"
